<app-hrader></app-hrader>
    <div class="card bg-dark">
        <img src="../../assets/images/blog-home.jpg" style="height: 55rem;" class="card-img" alt="...">   
            <div class="card-img-overlay text-center text-white d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="card-title">Start Your Blog Today</h1>
                    <Button (click)="createblog()" class="btn btn-success">Start Blog</Button>
                    <Button (click)="bloglist()" class="btn btn-primary">Blog Lists</Button>
                </div>
            </div>
    </div>
<app-footer></app-footer>